.walkland-first{
	min-width:50%;
	max-width:90%;
	float:right;
	position:relative;
	margin-right:2%;
	margin-top:5%;
	margin-bottom:5%;
}

.walkland-second{
	width:30%;
	float:right;
	margin-right:2%;
}

.main-gallery{
	height:71%;
	width:100%;
	left:5px;
	right:5px;
}

#map-container {
	height:91%;
	overflow:hidden;
	width:100%;
	margin: 0;
}

#first-panel{
	max-width:calc(50% - 5px);
	height:100%;
	left:5px;
}

#second-panel{
	width:calc(50% - 10px);
	height:100%;
	right:5px;
	top:0;
	position:absolute;
}

#walk-info {
	font-family: "Helvetica Narrow", sans-serif;
	height:75%;
	width:100%;
	position:absolute;
	overflow:hidden;
	padding:0;
}