#map-container {
	width: 50%;
	position:absolute;
	top:50px;
	right:0;
	bottom:0;
	margin: 0;
}

#map-canvas {
	height: 100%;
	width: 100%;
}
#walk-info {
	font-family: "Helvetica Narrow", sans-serif;
}

.walkland-first{
	min-width:50%;
	max-width:90%;
	float:right;
	position:relative;
	margin-right:5%;
	margin-top:5%;
	margin-bottom:5%;
}

#title-bar{
	width:100%;
	background-image:url("backdrop.jpg");
	background-repeat: no-repeat;
	overflow:hidden;
}

.walkland-second{
	width:30%;
	float:right;
}

.jg-entry{
	box-shadow: 0px 0px 5px #222222;
}

body {
	margin:0;
	padding:0;
}

body.detail #walks {
	display:none;
}

html {
	margin:0;
	padding:0;
}

#closeButton {
	position:absolute;
	top:5px;
	right:15px;
	z-index:2;
	color:white;
	font-size:40px;
	cursor:pointer;
}

h5 { 
	display: inline-block; margin-top: 0;
}

h1 { 
	margin-bottom: 20px;
}

@media (max-width: 600px) { 
	#map-container { left: 0; top: auto; height: 50%; }
 } 
