.walkway-name{
	font-family: "Helvetica Narrow", sans-serif;
}

#map-container {
	width: 50%;
	position:absolute;
	top:50px;
	right:0;
	bottom:0;
	margin: 0;
}

#map-canvas {
	height: 100%;
	width: 100%;
}
#walk-info {
	font-family: "Helvetica Narrow", sans-serif;
}

#walk-info h1, #walk-info h5 {
	margin-left:2%;
	color:#616161;
}

#photos {
	width:48%;
	height:400px;
	margin-left:1%;
	margin-right:1%;
}

#photos div {
	width:100%;
	padding:auto;
}

#photos div img{
	width:100%;
}

body {
	background-color:#f5f5f5;
	margin:0;
	padding:0;
}

body.detail #walks {
	display:none;
}

#logo {
	margin-top:5px;
	margin-left:1%;
	max-height:80%;
	max-width:10%;
}

html {
	margin:0;
	padding:0;
}

#closeButton {
	position:absolute;
	top:5px;
	right:15px;
	z-index:2;
	color:white;
	font-size:40px;
	cursor:pointer;
}

.navigation-bar {
	position:relative;
	z-index:1;
	margin-bottom:1%;
	background-color:#388e3c;
	width:auto;
	height:50px;
	box-shadow: 0px 2px 2px #606060;
}

h5 { 
	display: inline-block; margin-top: 0;
}

h1 { 
	margin-bottom: 20px;
}

@media (max-width: 600px) { 
	#map-container { left: 0; top: auto; height: 50%; }
 } 
